/* Estilos Generales */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1,
h2,
h3,
h4 {
  color: #333;
}

/* Estilos para los contenedores de información */
div#adminContent,
div#viewerContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Estilos para formularios y botones */
input[type="text"],
input[type="email"],
input[type="password"],
select {
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: calc(100% - 22px);
  box-sizing: border-box;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

/* Contenedor principal para cada sección */
div#adminContent,
div#viewerContent {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para los contenedores de sección */
div#userManagement,
div#contentManagement,
div#reports,
div#settings,
div#viewInformation,
div#basicReports {
  margin-bottom: 20px;
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos específicos para la interfaz de administrador */
.admin-special {
  border-left: 5px solid #333;
}
