body {
  margin: 0;
  font-family: Arial, sans-serif; /* Añade la fuente que prefieras */
}
.login {
  height: 100vh;
  width: 100%;
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 360px;
  height: 360px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.logo img {
  width: 50%;
  display: block;
  margin: 0 auto;
}
.input-container {
  position: relative;
  margin: 20px 0;
}
.input-container i {
  position: absolute;
  top: 10px;
  left: 12px;
  color: #646464;
}
.input-container input {
  width: 300px;
  padding: 11px 10px 10px 40px;
  border-radius: 5px;
  border: 1px solid #646464;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #01a43d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #029630;
}
.recover-password {
  display: block;
  text-align: right;
  color: #fff;
  margin-top: 15px;
}
